[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]

factory_boy = "*"
mock = "*"
pytest = "*"
pytest-xdist = "*"
pytest-html = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
python-coveralls = "*"
"psycopg2" = "*"
django-environ = "*"
pathlib = "*"
"enum34" = "*"
"06d14aa" = {path = "/data/work/wooyek/django-email-queue", editable = true}
"02bb47c" = {path = "/data/work/wooyek/django-email-queue/example_project", editable = true}
"bump2version" = "*"
check-manifest = "*"
codecov = "*"
coverage = "*"
detox = "*"
"flake8" = "*"
isort = "*"
Pygments = "*"
readme-renderer = "*"
tox = "*"
Sphinx = ">=1.6.5"
sphinx-rtd-theme = "*"
docutils = "==0.13.1"
sphinxcontrib-spelling = "*"
pyenchant = "*"


[packages]

click = "*"
django = ">=2.0"
django-environ = "*"
django-formtools = "*"
django-import-export = "*"
django-localflavor = "*"
django-pascal-templates = "*"
"enum34" = "*"
"psycopg2" = "*"
pycountry = "*"
pytz = "*"
pathlib = "*"
requests = "*"
